:root {
  --sidebar-width: 300px;
  --sidebar-padding: 10px;
  --sidebar-toggle-left-padding: 10px;
  --sidebar-toggle-color: #4d4d4d;
  --sidebar-text-color: #000000;
  --sidebar-selected-text-color: #000000;
}

body {
  margin: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--sidebar-width);
  padding: var(--sidebar-padding);
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translateX(0); /* visible state */
  z-index: 10; /* ensures it's above the iframe */
  background-color: rgba(184, 183, 183, 0.4); /* light transparent gray */
  backdrop-filter: blur(10px); /* blur the iframe behind */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}

main {
  flex-grow: 1;
  position: relative;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: none;
  z-index: 1;
}

h2 {
  margin-top: 2rem;
}

details {
  margin-bottom: 1rem;
}

summary {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

details summary {
  color: var(--sidebar-text-color);
}

a {
  display: block;
  margin: 0.2rem 0;
  color: var(--sidebar-text-color);
  text-decoration: none;
  padding-left: 10px;
}
a:hover {
  text-decoration: underline;
}
a.selected {
  font-weight: bold;
  text-decoration: underline;
  color: var(--sidebar-selected-text-color);
}

#toggle-sidebar {
  position: absolute;
  top: 1rem;
  left: calc(var(--sidebar-width) + var(--sidebar-padding) * 2 + 10px);
  z-index: 100;
  background: var(--sidebar-text-color);
  color: var(--sidebar-toggle-color);
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
  transition: left 0.3s ease;
  outline: 2px solid var(--sidebar-toggle-color);
}

body.sidebar-collapsed #toggle-sidebar {
  left: 10px;
}

body.sidebar-collapsed nav {
  transform: translateX(-100%);
}

body.sidebar-collapsed #toggle-sidebar {
  left: var(--sidebar-toggle-left-padding);
}
