:root {
  --sidebar-width: 300px;
  --sidebar-padding: 10px;
  --sidebar-toggle-left-padding: 10px;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

nav {
  width: var(--sidebar-width);
  padding: var(--sidebar-padding);
  overflow: auto;
  background: #878787b4;
  transition: width 0.3s ease, padding-left 0.3s ease, padding-right 0.3s ease;
  white-space: nowrap;
}

main {
  flex-grow: 1;
  position: relative;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}
h2 {
  margin-top: 2rem;
}

details {
  margin-bottom: 1rem;
}
summary {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.5rem;
  color: #333;
}

details[open] summary {
  color: #333;
}

a {
  display: block;
  margin: 0.2rem 0;
  color: #007acc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.selected {
  font-weight: bold;
  text-decoration: underline;
  color: #005fa3;
}

#toggle-sidebar {
  position: absolute;
  top: 1rem;
  left: calc(
    var(--sidebar-width) + var(--sidebar-padding) * 2 +
      var(--sidebar-toggle-left-padding)
  );
  z-index: 1000;
  background: #007acc;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
  transition: left 0.3s ease;
}

body.sidebar-collapsed nav {
  width: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  border: none;
}

body.sidebar-collapsed #toggle-sidebar {
  left: var(--sidebar-toggle-left-padding);
}
